<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.module.mapper.db.DmTableSqlMapper">
	<resultMap id="BaseResultMap" type="org.module.model.db.DmTableSql">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="uid" property="uid" jdbcType="VARCHAR" />
		<result column="code" property="code" jdbcType="VARCHAR" />
		<result column="table_code" property="tableCode" jdbcType="VARCHAR" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="comment" property="comment" jdbcType="VARCHAR" />
		<result column="create_user" property="createUser" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="VARCHAR" />
		<result column="update_user" property="updateUser" jdbcType="VARCHAR" />
		<result column="update_time" property="updateTime" jdbcType="VARCHAR" />
		<result column="content" property="content" jdbcType="LONGVARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, uid, code, table_code, name, comment,
		content,
		create_user,
		DATE_FORMAT(create_time,'%Y-%m-%d %H:%i:%s') as
		create_time,
		update_user,
		DATE_FORMAT(update_time,'%Y-%m-%d %H:%i:%s')
		as
		update_time
	</sql>
	<select id="selectByCode" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from dbmodule.dm_table_sql
		where `code` = #{code,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByCode" parameterType="java.lang.String">
		delete from
		dbmodule.dm_table_sql
		where `code` = #{code,jdbcType=VARCHAR}
	</delete>
	<insert id="insertSelective" parameterType="org.module.model.db.DmTableSql">
		insert into dbmodule.dm_table_sql
		<trim prefix="(" suffix=")" suffixOverrides=",">
			uid,
			`code`,
			table_code,
			`name`,
			<if test="comment != null">
				comment,
			</if>
			create_user,
			create_time,
			update_user,
			update_time,
			content,
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			#{uid,jdbcType=VARCHAR},
			#{code,jdbcType=VARCHAR},
			#{tableCode,jdbcType=VARCHAR},
			#{name,jdbcType=VARCHAR},
			<if test="comment != null">
				#{comment,jdbcType=VARCHAR},
			</if>
			#{createUser,jdbcType=VARCHAR},
			STR_TO_DATE(#{createTime,jdbcType=VARCHAR},'%Y-%m-%d %H:%i:%s'),
			#{updateUser,jdbcType=VARCHAR},
			STR_TO_DATE(#{updateTime,jdbcType=VARCHAR},'%Y-%m-%d %H:%i:%s'),
		</trim>
	</insert>
	<update id="updateByCode" parameterType="org.module.model.db.DmTableSql">
		update dbmodule.dm_table_sql
		<set>
			<if test="tableCode != null and tableCode != ''">
				table_code = #{tableCode,jdbcType=VARCHAR},
			</if>
			<if test="name != null and name != ''">
				`name` = #{name,jdbcType=VARCHAR},
			</if>
			<if test="comment != null and comment != ''">
				`comment` = #{comment,jdbcType=VARCHAR},
			</if>
			<if test="content != null and content != ''">
				`content` = #{content,jdbcType=LONGVARCHAR},
			</if>
			update_user =
			#{updateUser,jdbcType=VARCHAR},
			update_time =
			STR_TO_DATE(#{updateTime,jdbcType=VARCHAR},'%Y-%m-%d %H:%i:%s'),

		</set>
		where `code` = #{code,jdbcType=VARCHAR}
	</update>
</mapper>