<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.module.mapper.system.menu.SmMenuPermissionMapper">
	<resultMap id="BaseResultMap" type="org.module.model.system.menu.SmMenuPermission">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="uid" property="uid" jdbcType="VARCHAR" />
		<result column="code" property="code" jdbcType="VARCHAR" />
		<result column="menu_code" property="menuCode" jdbcType="VARCHAR" />
		<result column="menu_name" property="menuName" jdbcType="VARCHAR" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="permission_type" property="permissionType"
			jdbcType="VARCHAR" />
		<result column="permission_name" property="permissionName"
			jdbcType="VARCHAR" />
		<result column="flag_able" property="flagAble" jdbcType="INTEGER" />
		<result column="create_user" property="createUser" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="VARCHAR" />
		<result column="update_user" property="updateUser" jdbcType="VARCHAR" />
		<result column="update_time" property="updateTime" jdbcType="VARCHAR" />
		<result column="description" property="description" jdbcType="LONGVARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, uid, code, menu_code,
		name,permission_type,flag_able,description,
		create_user,
		DATE_FORMAT(create_time,'%Y-%m-%d
		%H:%i:%s') as
		create_time,
		update_user,
		DATE_FORMAT(update_time,'%Y-%m-%d %H:%i:%s')
		as
		update_time
	</sql>
	<select id="selectByCode" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from sm_menu_permission
		where `code`=#{code,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByCode" parameterType="java.lang.String">
		delete from
		sm_menu_permission
		where `code`=#{code,jdbcType=VARCHAR}
	</delete>
	<insert id="insertSelective" parameterType="org.module.model.system.menu.SmMenuPermission">
		insert into sm_menu_permission
		<trim prefix="(" suffix=")" suffixOverrides=",">
			uid,
			`code`,
			menu_code,
			`name`,
			<if test="permissionType != null and permissionType != ''">
				permission_type,
			</if>
			<if test="flagAble != null">
				flag_able,
			</if>
			create_user,
			create_time,
			update_user,
			update_time,
			<if test="description != null">
				description,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			#{uid,jdbcType=VARCHAR},
			#{code,jdbcType=VARCHAR},
			#{menuCode,jdbcType=VARCHAR},
			#{name,jdbcType=VARCHAR},
			<if test="permissionType != null and permissionType != ''">
				#{permissionType,jdbcType=VARCHAR},
			</if>
			<if test="flagAble != null">
				#{flagAble,jdbcType=INTEGER},
			</if>
			#{createUser,jdbcType=VARCHAR},
			STR_TO_DATE(#{createTime,jdbcType=VARCHAR},'%Y-%m-%d
			%H:%i:%s'),
			#{updateUser,jdbcType=VARCHAR},
			STR_TO_DATE(#{updateTime,jdbcType=VARCHAR},'%Y-%m-%d
			%H:%i:%s'),
			<if test="description != null">
				#{description,jdbcType=LONGVARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByCode" parameterType="org.module.model.system.menu.SmMenuPermission">
		update sm_menu_permission
		<set>
			<if test="menuCode != null and menuCode != ''">
				menu_code = #{menuCode,jdbcType=VARCHAR},
			</if>
			<if test="name != null and name != ''">
				`name` = #{name,jdbcType=VARCHAR},
			</if>
			<if test="permissionType != null and permissionType != ''">
				permission_type = #{permissionType,jdbcType=VARCHAR},
			</if>
			<if test="flagAble != null ">
				flag_able = #{flagAble,jdbcType=INTEGER},
			</if>
			update_user = #{updateUser,jdbcType=VARCHAR},
			update_time =
			STR_TO_DATE(#{updateTime,jdbcType=VARCHAR},'%Y-%m-%d %H:%i:%s'),
			<if test="description != null ">
				description = #{description,jdbcType=LONGVARCHAR},
			</if>
		</set>
		where `code`=#{code,jdbcType=VARCHAR}
	</update>
	<select id="findEntityAllToPage" resultMap="BaseResultMap"
		parameterType="org.module.dto.system.menu.SmMenuPermissionDto">
		SELECT
		smp.`code`,
		smp.`name`,
		sm.`name` AS menu_name,
		(select sd.`name`
		from sm_define as sd where sd.`code`=smp.permission_type) as
		permission_name,
		smp.flag_able,
		smp.create_user,
		DATE_FORMAT(smp.create_time,'%Y-%m-%d %H:%i:%s') as
		create_time,
		smp.update_user,
		DATE_FORMAT(smp.update_time,'%Y-%m-%d
		%H:%i:%s') as
		update_time,
		smp.description
		FROM
		sm_menu_permission AS smp
		LEFT JOIN
		sm_menu AS sm ON
		smp.menu_code = sm.`code`
		<where>
			sm.is_deleted=0
			and smp.menu_code = #{menuCode,jdbcType=VARCHAR}
			<if test="name != null and name != ''">
				and smp.name = #{name,jdbcType=VARCHAR}
			</if>
			<if test="flagAble != null">
				and smp.flag_able = #{flagAble,jdbcType=INTEGER}
			</if>
		</where>
		limit #{start,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
	</select>
	<select id="findEntityAllCountToPage" resultType="java.lang.Integer"
		parameterType="org.module.dto.system.menu.SmMenuPermissionDto">
		SELECT
		count(1)
		FROM
		sm_menu_permission AS smp
		LEFT JOIN
		sm_menu AS sm ON
		smp.menu_code = sm.`code`
		<where>
			sm.is_deleted=0
			and smp.menu_code = #{menuCode,jdbcType=VARCHAR}
			<if test="name != null and name != ''">
				and smp.name = #{name,jdbcType=VARCHAR}
			</if>
			<if test="flagAble != null">
				and smp.flag_able = #{flagAble,jdbcType=INTEGER}
			</if>
		</where>
	</select>
	<select id="findEntityAll" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from sm_menu_permission
		<where>
			flag_able = 0
		</where>
	</select>
</mapper>