<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.module.mapper.system.menu.SmMenuMapper">
	<resultMap id="BaseResultMap" type="org.module.model.system.menu.SmMenu">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="uid" property="uid" jdbcType="VARCHAR" />
		<result column="code" property="code" jdbcType="VARCHAR" />
		<result column="parent_code" property="parentCode" jdbcType="VARCHAR" />
		<result column="group_code" property="groupCode" jdbcType="VARCHAR" />
		<result column="group_name" property="groupName" jdbcType="VARCHAR" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="url" property="url" jdbcType="VARCHAR" />
		<result column="icon" property="icon" jdbcType="VARCHAR" />
		<result column="flag_able" property="flagAble" jdbcType="INTEGER" />
		<result column="is_deleted" property="isDeleted" jdbcType="INTEGER" />
		<result column="create_user" property="createUser" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="VARCHAR" />
		<result column="update_user" property="updateUser" jdbcType="VARCHAR" />
		<result column="update_time" property="updateTime" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, uid, code, parent_code, group_code, name, url, icon,
		flag_able,
		is_deleted, create_user,
		DATE_FORMAT(create_time,'%Y-%m-%d
		%H:%i:%s') as create_time, update_user,
		DATE_FORMAT(update_time,'%Y-%m-%d %H:%i:%s') as
		update_time
	</sql>
	<select id="selectByCode" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from sm_menu
		where `code`=#{code,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByCode" parameterType="java.lang.String">
		delete from sm_menu
		where `code`=#{code,jdbcType=VARCHAR}
	</delete>
	<insert id="insertSelective" parameterType="org.module.model.system.menu.SmMenu">
		insert into sm_menu
		<trim prefix="(" suffix=")" suffixOverrides=",">
			uid,
			`code`,
			<if test="parentCode != null">
				parent_code,
			</if>
			group_code,
			`name`,
			<if test="url != null">
				url,
			</if>
			<if test="icon != null">
				icon,
			</if>
			<if test="flagAble != null">
				flag_able,
			</if>
			<if test="isDeleted != null">
				is_deleted,
			</if>
			create_user,
			create_time,
			update_user,
			update_time,
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			#{uid,jdbcType=VARCHAR},
			#{code,jdbcType=VARCHAR},
			<if test="parentCode != null">
				#{parentCode,jdbcType=VARCHAR},
			</if>
			#{groupCode,jdbcType=VARCHAR},
			#{name,jdbcType=VARCHAR},
			<if test="url != null">
				#{url,jdbcType=VARCHAR},
			</if>
			<if test="icon != null">
				#{icon,jdbcType=VARCHAR},
			</if>
			<if test="flagAble != null">
				#{flagAble,jdbcType=INTEGER},
			</if>
			<if test="isDeleted != null">
				#{isDeleted,jdbcType=INTEGER},
			</if>
			#{createUser,jdbcType=VARCHAR},
			STR_TO_DATE(#{createTime,jdbcType=VARCHAR},'%Y-%m-%d %H:%i:%s'),
			#{updateUser,jdbcType=VARCHAR},
			STR_TO_DATE(#{updateTime,jdbcType=VARCHAR},'%Y-%m-%d %H:%i:%s'),
		</trim>
	</insert>
	<update id="updateByCode" parameterType="org.module.model.system.menu.SmMenu">
		update sm_menu
		<set>
			<if test="parentCode != null">
				parent_code = #{parentCode,jdbcType=VARCHAR},
			</if>
			<if test="groupCode != null">
				group_code = #{groupCode,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="url != null">
				url = #{url,jdbcType=VARCHAR},
			</if>
			<if test="icon != null">
				icon = #{icon,jdbcType=VARCHAR},
			</if>
			<if test="flagAble != null">
				flag_able = #{flagAble,jdbcType=INTEGER},
			</if>
			<if test="isDeleted != null">
				is_deleted = #{isDeleted,jdbcType=INTEGER},
			</if>
			update_user = #{updateUser,jdbcType=VARCHAR},
			update_time =
			STR_TO_DATE(#{updateTime,jdbcType=VARCHAR},'%Y-%m-%d %H:%i:%s'),
		</set>
		where `code`=#{code,jdbcType=VARCHAR}
	</update>
	<select id="findEntityAllToPage" resultMap="BaseResultMap"
		parameterType="org.module.dto.system.menu.SmMenuDto">
		SELECT
		sm.`code`,
		sm.`name`,
		smg.`name` AS group_name,
		sm.create_user,
		DATE_FORMAT(sm.create_time,'%Y-%m-%d %H:%i:%s') as create_time,
		sm.update_user,
		DATE_FORMAT(sm.update_time,'%Y-%m-%d %H:%i:%s') as
		update_time
		FROM
		sm_menu AS sm
		LEFT JOIN sm_menu_group AS smg ON
		sm.group_code = smg.`code`
		<where>
			sm.is_deleted = 0
			<if test="name != null and name != ''">
				and where sm.`name` like
				CONCAT('%',#{name,jdbcType=VARCHAR},'%')
			</if>
		</where>
		limit #{start,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
	</select>
	<select id="findEntityAllCountToPage" resultType="java.lang.Integer"
		parameterType="org.module.dto.system.menu.SmMenuDto">
		SELECT
		count(1)
		FROM
		sm_menu AS sm
		LEFT JOIN sm_menu_group AS smg ON
		sm.group_code = smg.`code`
		<where>
			sm.is_deleted = 0
			<if test="name != null and name != ''">
				and where sm.`name` like
				CONCAT('%',#{name,jdbcType=VARCHAR},'%')
			</if>
		</where>
	</select>
	<select id="findEntityAll" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from sm_menu
	</select>
</mapper>