<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.module.mapper.system.db.SmDatabaseMapper">
	<resultMap id="BaseResultMap" type="org.module.model.system.db.SmDatabase">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="uid" property="uid" jdbcType="VARCHAR" />
		<result column="db_code" property="dbCode" jdbcType="VARCHAR" />
		<result column="db_name" property="dbName" jdbcType="VARCHAR" />
		<result column="driver" property="driver" jdbcType="VARCHAR" />
		<result column="url" property="url" jdbcType="VARCHAR" />
		<result column="user_name" property="userName" jdbcType="VARCHAR" />
		<result column="password" property="password" jdbcType="VARCHAR" />
		<result column="remark" property="remark" jdbcType="VARCHAR" />
		<result column="create_user" property="createUser" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="VARCHAR" />
		<result column="update_user" property="updateUser" jdbcType="VARCHAR" />
		<result column="update_time" property="updateTime" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, uid, db_code, db_name, driver, url, user_name,
		password, remark,
		create_user,
		DATE_FORMAT(create_time,'%Y-%m-%d
		%H:%i:%s') as
		create_time,
		update_user,
		DATE_FORMAT(update_time,'%Y-%m-%d %H:%i:%s')
		as
		update_time
	</sql>
	<select id="selectByCode" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from systemmodule.sm_database
		where `db_code` = #{dbCode,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByCode" parameterType="java.lang.String">
		delete from systemmodule.sm_database
		where `db_code` = #{dbCode,jdbcType=VARCHAR}
	</delete>
	<insert id="insertSelective" parameterType="org.module.model.system.db.SmDatabase">
		insert into systemmodule.sm_database
		<trim prefix="(" suffix=")" suffixOverrides=",">
			uid,
			db_code,
			db_name,
			driver,
			url,
			user_name,
			<if test="password != null and password != ''">
				`password`,
			</if>
			<if test="remark != null and remark != ''">
				remark,
			</if>
			create_user,
			create_time,
			update_user,
			update_time,
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			#{uid,jdbcType=VARCHAR},
			#{dbCode,jdbcType=VARCHAR},
			#{dbName,jdbcType=VARCHAR},
			#{driver,jdbcType=VARCHAR},
			#{url,jdbcType=VARCHAR},
			#{userName,jdbcType=VARCHAR},
			<if test="password != null and password != ''">
				#{password,jdbcType=VARCHAR},
			</if>
			<if test="remark != null and remark != ''">
				#{remark,jdbcType=VARCHAR},
			</if>
			#{createUser,jdbcType=VARCHAR},
			STR_TO_DATE(#{createTime,jdbcType=VARCHAR},'%Y-%m-%d
			%H:%i:%s'),
			#{updateUser,jdbcType=VARCHAR},
			STR_TO_DATE(#{updateTime,jdbcType=VARCHAR},'%Y-%m-%d
			%H:%i:%s'),
		</trim>
	</insert>
	<update id="updateByCode" parameterType="org.module.model.system.db.SmDatabase">
		update systemmodule.sm_database
		<set>
			<if test="dbName != null and dbName != ''">
				db_name = #{dbName,jdbcType=VARCHAR},
			</if>
			<if test="driver != null and driver !='' ">
				driver = #{driver,jdbcType=VARCHAR},
			</if>
			<if test="url != null and url != ''">
				url = #{url,jdbcType=VARCHAR},
			</if>
			<if test="userName != null and userName != ''">
				user_name = #{userName,jdbcType=VARCHAR},
			</if>
			<if test="password != null and password != ''">
				`password` = #{password,jdbcType=VARCHAR},
			</if>
			<if test="remark != null and remark !=''">
				remark = #{remark,jdbcType=VARCHAR},
			</if>
			update_user = #{updateUser,jdbcType=VARCHAR},
			update_time =
			STR_TO_DATE(#{updateTime,jdbcType=VARCHAR},'%Y-%m-%d %H:%i:%s'),
		</set>
		where `db_code` = #{dbCode,jdbcType=VARCHAR}
	</update>
	<select id="findEntityAllToPage" parameterType="org.module.dto.system.db.SmDatabaseDto"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from systemmodule.sm_database
		<where>
			1=1
			<if test="dbName != null and dbName != ''">
				and `db_name` = #{dbName,jdbcType=VARCHAR}
			</if>
		</where>
	</select>
	<insert id="sync">
		{call sync_db_detail}
	</insert>
</mapper>