<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.module.mapper.system.db.SmTableMapper">
	<resultMap id="BaseResultMap" type="org.module.model.system.db.SmTable">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="uid" property="uid" jdbcType="VARCHAR" />
		<result column="db_code" property="dbCode" jdbcType="VARCHAR" />
		<result column="table_code" property="tableCode" jdbcType="VARCHAR" />
		<result column="table_name" property="tableName" jdbcType="VARCHAR" />
		<result column="type" property="type" jdbcType="VARCHAR" />
		<result column="remark" property="remark" jdbcType="VARCHAR" />
		<result column="create_user" property="createUser" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="VARCHAR" />
		<result column="update_user" property="updateUser" jdbcType="VARCHAR" />
		<result column="update_time" property="updateTime" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, uid, db_code, table_code, table_name, type, remark,
		create_user,
		DATE_FORMAT(create_time,'%Y-%m-%d
		%H:%i:%s') as
		create_time,
		update_user,
		DATE_FORMAT(update_time,'%Y-%m-%d %H:%i:%s')
		as
		update_time
	</sql>
	<select id="selectByCode" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from systemmodule.sm_table
		where `code` = #{code,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByCode" parameterType="java.lang.String">
		delete from
		systemmodule.sm_table
		where `code` = #{code,jdbcType=VARCHAR}
	</delete>
	<insert id="insertSelective" parameterType="org.module.model.system.db.SmTable">
		insert into systemmodule.sm_table
		<trim prefix="(" suffix=")" suffixOverrides=",">
			uid,
			db_code,
			table_code,
			table_name,
			<if test="type != null and type != ''">
				type,
			</if>
			<if test="remark != null and remark != ''">
				remark,
			</if>
			create_user,
			create_time,
			update_user,
			update_time,
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			#{uid,jdbcType=VARCHAR},
			#{dbCode,jdbcType=VARCHAR},
			#{tableCode,jdbcType=VARCHAR},
			#{tableName,jdbcType=VARCHAR},
			<if test="type != null and type !=''">
				#{type,jdbcType=VARCHAR},
			</if>
			<if test="remark != null and remark != ''">
				#{remark,jdbcType=VARCHAR},
			</if>
			#{createUser,jdbcType=VARCHAR},
			STR_TO_DATE(#{createTime,jdbcType=VARCHAR},'%Y-%m-%d
			%H:%i:%s'),
			#{updateUser,jdbcType=VARCHAR},
			STR_TO_DATE(#{updateTime,jdbcType=VARCHAR},'%Y-%m-%d
			%H:%i:%s'),
		</trim>
	</insert>
	<update id="updateByCode" parameterType="org.module.model.system.db.SmTable">
		update systemmodule.sm_table
		<set>
			<if test="tableName != null and tableName != ''">
				table_name = #{tableName,jdbcType=VARCHAR},
			</if>
			<if test="remark != null and remark != ''">
				remark = #{remark,jdbcType=VARCHAR},
			</if>
			update_user = #{updateUser,jdbcType=VARCHAR},
			update_time =
			STR_TO_DATE(#{updateTime,jdbcType=VARCHAR},'%Y-%m-%d %H:%i:%s'),
		</set>
		where `code` = #{code,jdbcType=VARCHAR}
	</update>
	<select id="findEntityAllToPage" parameterType="org.module.dto.system.db.SmTableDto"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from systemmodule.sm_table
		<where>
			1=1
			<if test="tableCode != null and tableCode !=''">
				and table_code = #{tableCode,jdbcType=VARCHAR}
			</if>
			<if test="tableName != null and tableName !=''">
				and table_name = #{tableName,jdbcType=VARCHAR}
			</if>
			<if test="type != null and type !=''">
				and type = #{type,jdbcType=VARCHAR}
			</if>
		</where>
	</select>
	<select id="findEntityAllCountToPage" parameterType="org.module.dto.system.db.SmTableDto"
		resultType="java.lang.Integer">
		select count(1)
		from systemmodule.sm_table
		<where>
			1=1
			<if test="tableCode != null and tableCode !=''">
				and table_code = #{tableCode,jdbcType=VARCHAR}
			</if>
			<if test="tableName != null and tableName !=''">
				and table_name = #{tableName,jdbcType=VARCHAR}
			</if>
			<if test="type != null and type !=''">
				and type = #{type,jdbcType=VARCHAR}
			</if>
		</where>
	</select>
</mapper>