<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.module.mapper.order.order.OmOrderEvaluationMapper">
	<resultMap id="BaseResultMap"
		type="org.module.model.order.order.OmOrderEvaluation">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="uid" property="uid" jdbcType="VARCHAR" />
		<result column="order_code" property="orderCode" jdbcType="VARCHAR" />
		<result column="product_code" property="productCode" jdbcType="VARCHAR" />
		<result column="sku_code" property="skuCode" jdbcType="VARCHAR" />
		<result column="store_code" property="storeCode" jdbcType="VARCHAR" />
		<result column="evaluate_type" property="evaluateType"
			jdbcType="VARCHAR" />
		<result column="evaluate_score" property="evaluateScore"
			jdbcType="INTEGER" />
		<result column="evaluate_content" property="evaluateContent"
			jdbcType="VARCHAR" />
		<result column="create_user" property="createUser" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="VARCHAR" />
		<result column="evaluate_pic" property="evaluatePic" jdbcType="LONGVARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, uid, order_code, product_code, sku_code, store_code,
		evaluate_type, evaluate_score,
		evaluate_content,evaluate_pic,
		create_user,
		DATE_FORMAT(create_time,'%Y-%m-%d
		%H:%i:%s') as
		create_time
	</sql>
	<select id="selectByCode" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from ordermodule.om_order_evaluation
		where `code` =
		#{code,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByCode" parameterType="java.lang.String">
		delete from
		ordermodule.om_order_evaluation
		where `code` = #{code,jdbcType=VARCHAR}
	</delete>
	<insert id="insertSelective" parameterType="org.module.model.order.order.OmOrderEvaluation">
		insert into ordermodule.om_order_evaluation
		<trim prefix="(" suffix=")" suffixOverrides=",">
			uid,
			order_code,
			product_code,
			sku_code,
			store_code,
			evaluate_type,
			evaluate_score,
			evaluate_content,
			create_user,
			create_time,
			evaluate_pic,
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			#{uid,jdbcType=VARCHAR},
			#{orderCode,jdbcType=VARCHAR},
			#{productCode,jdbcType=VARCHAR},
			#{skuCode,jdbcType=VARCHAR},
			#{storeCode,jdbcType=VARCHAR},
			#{evaluateType,jdbcType=VARCHAR},
			#{evaluateScore,jdbcType=INTEGER},
			#{evaluateContent,jdbcType=VARCHAR},
			#{createUser,jdbcType=VARCHAR},
			STR_TO_DATE(#{createTime,jdbcType=VARCHAR},'%Y-%m-%d
			%H:%i:%s'),
			#{evaluatePic,jdbcType=LONGVARCHAR},
		</trim>
	</insert>
</mapper>