<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.module.mapper.order.order.OmOrderInfoMapper">
	<resultMap id="BaseResultMap" type="org.module.model.order.order.OmOrderInfo">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="uid" property="uid" jdbcType="VARCHAR" />
		<result column="code" property="code" jdbcType="VARCHAR" />
		<result column="type" property="type" jdbcType="VARCHAR" />
		<result column="pay_type" property="payType" jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="VARCHAR" />
		<result column="buyer_code" property="buyerCode" jdbcType="VARCHAR" />
		<result column="order_source" property="orderSource" jdbcType="VARCHAR" />
		<result column="order_money" property="orderMoney" jdbcType="DECIMAL" />
		<result column="payed_money" property="payedMoney" jdbcType="DECIMAL" />
		<result column="outer_code" property="outerCode" jdbcType="VARCHAR" />
		<result column="store_code" property="storeCode" jdbcType="VARCHAR" />
		<result column="asale_code" property="asaleCode" jdbcType="VARCHAR" />
		<result column="create_user" property="createUser" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="VARCHAR" />
		<result column="update_user" property="updateUser" jdbcType="VARCHAR" />
		<result column="update_time" property="updateTime" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, uid, code, type, pay_type, status, buyer_code,
		order_source,
		order_money, payed_money,
		outer_code, store_code,
		asale_code, create_user, create_time, update_user,
		update_time
	</sql>
	<select id="selectByCode" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from ordermodule.om_order_info
		where `code` = #{code,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByCode" parameterType="java.lang.String">
		delete from
		ordermodule.om_order_info
		where `code` = #{code,jdbcType=VARCHAR}
	</delete>
	<insert id="insertSelective" parameterType="org.module.model.order.order.OmOrderInfo">
		insert into ordermodule.om_order_info
		<trim prefix="(" suffix=")" suffixOverrides=",">
			uid,
			`code`,
			type,
			pay_type,
			`status`,
			buyer_code,
			order_source,
			order_money,
			payed_money,
			outer_code,
			store_code,
			<if test="asaleCode != null and asaleCode != ''">
				asale_code,
			</if>
			create_user,
			create_time,
			update_user,
			update_time,
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			#{uid,jdbcType=VARCHAR},
			#{code,jdbcType=VARCHAR},
			#{type,jdbcType=VARCHAR},
			#{payType,jdbcType=VARCHAR},
			#{status,jdbcType=VARCHAR},
			#{buyerCode,jdbcType=VARCHAR},
			#{orderSource,jdbcType=VARCHAR},
			#{orderMoney,jdbcType=DECIMAL},
			#{payedMoney,jdbcType=DECIMAL},
			#{outerCode,jdbcType=VARCHAR},
			#{storeCode,jdbcType=VARCHAR},
			#{asaleCode,jdbcType=VARCHAR},
			#{createUser,jdbcType=VARCHAR},
			#{createTime,jdbcType=VARCHAR},
			#{updateUser,jdbcType=VARCHAR},
			#{updateTime,jdbcType=VARCHAR},
		</trim>
	</insert>
	<update id="updateByCode" parameterType="org.module.model.order.order.OmOrderInfo">
		update ordermodule.om_order_info
		<set>
			<if test="status != null">
				status = #{status,jdbcType=VARCHAR},
			</if>
			<if test="asaleCode != null and asaleCode != ''">
				asale_code = #{asaleCode,jdbcType=VARCHAR},
			</if>
			update_user = #{updateUser,jdbcType=VARCHAR},
			update_time =
			#{updateTime,jdbcType=VARCHAR},
		</set>
		where `code` = #{code,jdbcType=VARCHAR}
	</update>
</mapper>