<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.module.mapper.system.user.SmUserMapper">
	<resultMap id="BaseResultMap" type="org.module.model.system.user.SmUser">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="uid" property="uid" jdbcType="VARCHAR" />
		<result column="code" property="code" jdbcType="VARCHAR" />
		<result column="user_name" property="userName" jdbcType="VARCHAR" />
		<result column="password" property="password" jdbcType="VARCHAR" />
		<result column="real_name" property="realName" jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="VARCHAR" />
		<result column="create_user" property="createUser" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="VARCHAR" />
		<result column="update_user" property="updateUser" jdbcType="VARCHAR" />
		<result column="update_time" property="updateTime" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, uid, code, user_name, password, real_name, status,
		DATE_FORMAT(create_time,'%Y-%m-%d %H:%i:%s') as
		create_time,
		update_user,
		DATE_FORMAT(update_time,'%Y-%m-%d %H:%i:%s')
		as update_time
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from systemmodule.sm_user
		where `code` = #{code,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from
		systemmodule.sm_user
		where `code` = #{code,jdbcType=VARCHAR}
	</delete>
	<insert id="insertSelective" parameterType="org.module.model.system.user.SmUser">
		insert into systemmodule.sm_user
		<trim prefix="(" suffix=")" suffixOverrides=",">
			uid,
			`code`,
			user_name,
			password,
			real_name,
			`status`,
			create_user,
			create_time,
			update_user,
			update_time,
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			#{uid,jdbcType=VARCHAR},
			#{code,jdbcType=VARCHAR},
			#{userName,jdbcType=VARCHAR},
			#{password,jdbcType=VARCHAR},
			#{realName,jdbcType=VARCHAR},
			#{status,jdbcType=VARCHAR},
			#{createUser,jdbcType=VARCHAR},
			STR_TO_DATE(#{createTime,jdbcType=VARCHAR},'%Y-%m-%d
			%H:%i:%s'),
			#{updateUser,jdbcType=VARCHAR},
			STR_TO_DATE(#{updateTime,jdbcType=VARCHAR},'%Y-%m-%d
			%H:%i:%s'),
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="org.module.model.system.user.SmUser">
		update systemmodule.sm_user
		<set>
			<if test="userName != null and userName != ''">
				user_name = #{userName,jdbcType=VARCHAR},
			</if>
			<if test="password != null and password != ''">
				`password` = #{password,jdbcType=VARCHAR},
			</if>
			<if test="realName != null and realName != ''">
				real_name = #{realName,jdbcType=VARCHAR},
			</if>
			<if test="status != null and status != ''">
				`status` = #{status,jdbcType=VARCHAR},
			</if>
			update_user = #{updateUser,jdbcType=VARCHAR},
			update_time =
			STR_TO_DATE(#{updateTime,jdbcType=VARCHAR},'%Y-%m-%d %H:%i:%s'),
		</set>
		where `code` = #{code,jdbcType=VARCHAR}
	</update>
	<!-- 根据用户名，密码查询用户是否存在 -->
	<select id="userExists" parameterType="org.module.model.system.user.SmUser">
		select
		<include refid="Base_Column_List" />
		from systemmodule.sm_user
		<where>
			user_name = #{userName,jdbcType=VARCHAR}
			AND password =
			#{password,jdbcType=VARCHAR}
		</where>
	</select>
</mapper>