<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
	<context:property-placeholder location="classpath:properties/db.properties"
		ignore-unresolvable="true" />
	<context:property-placeholder location="classpath:properties/redis.properties"
		ignore-unresolvable="true" />
	<context:property-placeholder location="classpath:properties/kaptcha.properties"
		ignore-unresolvable="true" />
	<context:component-scan base-package="org.module.service" />
	<!-- kaptcha图形验证码配置 -->
	<bean id="captchaProducer" class="com.google.code.kaptcha.impl.DefaultKaptcha">
		<property name="config">
			<bean class="com.google.code.kaptcha.util.Config">
				<constructor-arg>
					<props>
						<!-- 是否有边框 -->
						<prop key="kaptcha.border">${kaptcha.border}</prop>
						<!-- 边框颜色 -->
						<prop key="kaptcha.border.color">${kaptcha.border.color}</prop>
						<prop key="kaptcha.border.thickness">${kaptcha.border.thickness}</prop>
						<!-- 图片宽度 -->
						<prop key="kaptcha.image.width">${kaptcha.image.width}</prop>
						<!-- 图片高度 -->
						<prop key="kaptcha.image.height">${kaptcha.image.height}</prop>
						<prop key="kaptcha.producer.impl">${kaptcha.producer.impl}</prop>
						<prop key="kaptcha.textproducer.impl">${kaptcha.textproducer.impl}</prop>
						<!-- 使用哪些字符生成验证码 -->
						<prop key="kaptcha.textproducer.char.string">${kaptcha.textproducer.char.string} </prop>
						<!-- 字符个数 -->
						<prop key="kaptcha.textproducer.char.length">${kaptcha.textproducer.char.length}</prop>
						<!-- 使用哪些字体 -->
						<prop key="kaptcha.textproducer.font.names">${kaptcha.textproducer.font.names}</prop>
						<!-- 字体大小 -->
						<prop key="kaptcha.textproducer.font.size">${kaptcha.textproducer.font.size}</prop>
						<!-- 字体颜色 -->
						<prop key="kaptcha.textproducer.font.color">${kaptcha.textproducer.font.color}</prop>
						<prop key="kaptcha.noise.impl">${kaptcha.noise.impl}</prop>
						<!-- 干扰线的颜色 -->
						<prop key="kaptcha.noise.color">${kaptcha.noise.color}</prop>
						<prop key="kaptcha.obscurificator.impl">${kaptcha.obscurificator.impl}</prop>
						<prop key="kaptcha.background.impl">${kaptcha.background.impl}</prop>
						<prop key="kaptcha.background.clear.to">${kaptcha.background.clear.to}</prop>
						<prop key="kaptcha.word.impl">${kaptcha.word.impl}</prop>
						<prop key="kaptcha.session.key">${kaptcha.session.key}</prop>
						<prop key="kaptcha.session.date">${kaptcha.session.date}</prop>
					</props>
				</constructor-arg>
			</bean>
		</property>
	</bean>
	<import resource="spring-mybatis.xml"/>
	<import resource="spring-redis.xml"/>
</beans>