<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">
	<description>apache shiro配置</description>
	<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
		<property name="securityManager" ref="securityManager" />
		<property name="loginUrl" value="/login.html" />
		<property name="successUrl" value="/user/index.html" />
		<property name="unauthorizedUrl" value="/401.html" />
		<property name="filterChainDefinitions">
			<value>
				<!-- 登录页允许访问 -->
				/login** = anon
				/doLogin** = anon
				<!-- 静态资源允许访问 -->
				/static/** = anon
				/assets/** = anon

				/user = authc
				/role = authc
				/permission = authc

				/** = authc
			</value>
		</property>
	</bean>
	<!-- 缓存管理器 使用Ehcache实现 -->
	<!-- <bean id="shiroEhcacheManager" class="org.apache.shiro.cache.ehcache.EhCacheManager"> -->
	<!-- <property name="cacheManagerConfigFile" value="classpath:ehcache-shiro.xml" 
		/> -->
	<!-- </bean> -->

	<!-- 会话DAO -->
	<!-- <bean id="sessionDAO" class="org.apache.shiro.session.mgt.eis.MemorySessionDAO" 
		/> -->

	<!-- 会话管理器 -->
	<!-- <bean id="sessionManager" -->
	<!-- class="org.apache.shiro.web.session.mgt.DefaultWebSessionManager"> -->
	<!-- <property name="sessionDAO" ref="sessionDAO" /> -->
	<!-- </bean> -->

	<bean id="shiroAuthorizingRealm" class="xiaochangwei.zicp.net.web.utils.ShiroAuthorizingRealm">
		<property name="authorizationCacheName" value="shiro-authorizationCache" />
		<!-- <property name="cacheManager" ref="shiroEhcacheManager"/> -->
	</bean>

	<!-- 安全管理器 -->
	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
		<property name="realms">
			<list>
				<ref bean="shiroAuthorizingRealm" />
			</list>
		</property>
		<!-- cacheManager,集合spring缓存工厂 -->
		<!-- <property name="cacheManager" ref="shiroEhcacheManager" /> -->
		<!-- <property name="sessionManager" ref="sessionManager" /> -->
	</bean>
	<bean
		class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
		<property name="securityManager" ref="securityManager" />
	</bean>
	<bean
		class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"
		depends-on="lifecycleBeanPostProcessor">
		<property name="proxyTargetClass" value="true" />
	</bean>
	<!-- Shiro生命周期处理器 -->
	<bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor" />
</beans>