<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.module.mapper.system.page.SmPageTableMapper">
	<resultMap id="BaseResultMap" type="org.module.model.system.page.SmPageTable">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="uid" property="uid" jdbcType="VARCHAR" />
		<result column="code" property="code" jdbcType="VARCHAR" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="page_code" property="pageCode" jdbcType="VARCHAR" />
		<result column="create_user" property="createUser" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="VARCHAR" />
		<result column="update_user" property="updateUser" jdbcType="VARCHAR" />
		<result column="update_time" property="updateTime" jdbcType="VARCHAR" />
		<collection property="page" ofType="org.module.model.system.page.SmPage">
			<result column="page_name" property="name" jdbcType="VARCHAR" />
		</collection>
	</resultMap>
	<sql id="Base_Column_List">
		id, uid, code, name, page_code, create_user,
		DATE_FORMAT(create_time,'%Y-%m-%d
		%H:%i:%s') as
		create_time,
		update_user,
		DATE_FORMAT(update_time,'%Y-%m-%d %H:%i:%s')
		as
		update_time
	</sql>
	<select id="selectByCode" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from systemmodule.sm_page_table
		where `code`=#{code,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByCode" parameterType="java.lang.String">
		delete from
		systemmodule.sm_page_table
		where `code`=#{code,jdbcType=VARCHAR}
	</delete>
	<insert id="insertSelective" parameterType="org.module.model.system.page.SmPageTable">
		insert into systemmodule.sm_page_table
		<trim prefix="(" suffix=")" suffixOverrides=",">
			uid,
			`code`,
			`name`,
			page_code,
			create_user,
			create_time,
			update_user,
			update_time,
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			#{uid,jdbcType=VARCHAR},
			#{code,jdbcType=VARCHAR},
			#{name,jdbcType=VARCHAR},
			#{pageCode,jdbcType=VARCHAR},
			#{createUser,jdbcType=VARCHAR},
			STR_TO_DATE(#{createTime,jdbcType=VARCHAR},'%Y-%m-%d
			%H:%i:%s'),
			#{updateUser,jdbcType=VARCHAR},
			STR_TO_DATE(#{updateTime,jdbcType=VARCHAR},'%Y-%m-%d
			%H:%i:%s'),
		</trim>
	</insert>
	<update id="updateByCode" parameterType="org.module.model.system.page.SmPageTable">
		update systemmodule.sm_page_table
		<set>
			<if test="name != null and name != ''">
				`name` = #{name,jdbcType=VARCHAR},
			</if>
			<if test="pageCode != null and pageCode != ''">
				page_code = #{pageCode,jdbcType=VARCHAR},
			</if>
			update_user = #{updateUser,jdbcType=VARCHAR},
			update_time =
			STR_TO_DATE(#{updateTime,jdbcType=VARCHAR},'%Y-%m-%d %H:%i:%s'),
		</set>
		where `code`=#{code,jdbcType=VARCHAR}
	</update>
	<select id="findEntityAllToPage" parameterType="org.module.dto.system.page.SmPageTableDto"
		resultMap="BaseResultMap">
		SELECT
		t.`code`,
		t.`name`,
		p.`name` as page_name,
		t.create_user,
		DATE_FORMAT(t.create_time,'%Y-%m-%d
		%H:%i:%s') as create_time,
		t.update_user,
		DATE_FORMAT(t.update_time,'%Y-%m-%d %H:%i:%s')
		as
		update_time
		FROM
		systemmodule.sm_page_table AS t
		LEFT JOIN
		systemmodule.sm_page AS p
		ON
		t.page_code = p.`code`
		<where>
			<if test="name != null and name != ''">
				t.`name` = #{name,jdbcType=VARCHAR}
			</if>
		</where>
	</select>
	<select id="findEntityAllCountToPage" parameterType="org.module.dto.system.page.SmPageTableDto"
		resultType="java.lang.Integer">
		SELECT count(1)
		FROM
		systemmodule.sm_page_table AS t
		LEFT JOIN
		systemmodule.sm_page AS p ON
		t.page_code = p.`code`
		<where>
			<if test="name != null and name != ''">
				t.`name` = #{name,jdbcType=VARCHAR}
			</if>
		</where>
	</select>
</mapper>