<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.system.mapper.menu.SmMenuMapper">
	<resultMap id="BaseResultMap" type="org.system.model.menu.SmMenu">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="uid" property="uid" jdbcType="VARCHAR" />
		<result column="code" property="code" jdbcType="VARCHAR" />
		<result column="parent_code" property="parentCode" jdbcType="VARCHAR" />
		<result column="group_code" property="groupCode" jdbcType="VARCHAR" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="url" property="url" jdbcType="VARCHAR" />
		<result column="flag_able" property="flagAble" jdbcType="INTEGER" />
		<result column="create_user" property="createUser" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="VARCHAR" />
		<result column="update_user" property="updateUser" jdbcType="VARCHAR" />
		<result column="update_time" property="updateTime" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, uid, `code`, parent_code, group_code, `name`, url,
		flag_able,
		create_user, DATE_FORMAT(create_time,'%Y-%m-%d') AS create_time,
		update_user, DATE_FORMAT(update_time,'%Y-%m-%d') AS update_time
	</sql>
	<select id="selectByCode" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from sm_menu
		where `code` = #{code,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByCode" parameterType="java.lang.String">
		delete from
		sm_menu
		where
		`code` = #{code,jdbcType=VARCHAR}
	</delete>
	<insert id="insertSelective" parameterType="org.system.model.menu.SmMenu">
		insert into sm_menu
		<trim prefix="(" suffix=")" suffixOverrides=",">
			uid,
			`code`,
			<if test="parentCode != null">
				parent_code,
			</if>
			group_code,
			`name`,
			<if test="url != null">
				url,
			</if>
			<if test="flagAble != null">
				flag_able,
			</if>
			create_user,
			create_time,
			update_user,
			update_time,
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			#{uid,jdbcType=VARCHAR},
			#{code,jdbcType=VARCHAR},
			<if test="parentCode != null">
				#{parentCode,jdbcType=VARCHAR},
			</if>
			#{groupCode,jdbcType=VARCHAR},
			#{name,jdbcType=VARCHAR},
			<if test="url != null">
				#{url,jdbcType=VARCHAR},
			</if>
			<if test="flagAble != null">
				#{flagAble,jdbcType=INTEGER},
			</if>
			#{createUser,jdbcType=VARCHAR},
			#{createTime,jdbcType=VARCHAR},'%Y-%m-%d %H:%i:%s'),
			#{updateUser,jdbcType=VARCHAR},
			#{updateTime,jdbcType=VARCHAR},'%Y-%m-%d %H:%i:%s'),
		</trim>
	</insert>
	<update id="updateByCode" parameterType="org.system.model.menu.SmMenu">
		update sm_menu
		<set>
			<if test="parentCode != null">
				parent_code = #{parentCode,jdbcType=VARCHAR},
			</if>
			<if test="groupCode != null">
				group_code = #{groupCode,jdbcType=VARCHAR},
			</if>
			<if test="name != null and name != ''">
				`name` = #{name,jdbcType=VARCHAR},
			</if>
			<if test="url != null">
				url = #{url,jdbcType=VARCHAR},
			</if>
			<if test="flagAble != null">
				flag_able = #{flagAble,jdbcType=INTEGER},
			</if>
			update_user = #{updateUser,jdbcType=VARCHAR},
			update_time =
			#{updateTime,jdbcType=VARCHAR},'%Y-%m-%d
			%H:%i:%s'),
		</set>
		where `code` = #{code,jdbcType=VARCHAR}
	</update>
</mapper>