<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.module.mapper.kernel.db.CmTableConstraintsMapper">
	<resultMap id="BaseResultMap"
		type="org.module.model.kernel.db.CmTableConstraints">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="uid" property="uid" jdbcType="VARCHAR" />
		<result column="code" property="code" jdbcType="VARCHAR" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="type_code" property="typeCode" jdbcType="VARCHAR" />
		<result column="type_name" property="typeName" jdbcType="VARCHAR" />
		<result column="en_name" property="enName" jdbcType="VARCHAR" />
		<result column="table_code" property="tableCode" jdbcType="VARCHAR" />
		<result column="comment" property="comment" jdbcType="VARCHAR" />
		<result column="create_user" property="createUser" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="VARCHAR" />
		<result column="update_user" property="updateUser" jdbcType="VARCHAR" />
		<result column="update_time" property="updateTime" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, uid, code, name, type_code, type_name, en_name,
		table_code,
		comment, create_user,
		create_time, update_user, update_time
	</sql>
	<select id="selectByCode" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from cm_table_constraints
		where `code` = #{code,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByCode" parameterType="java.lang.String">
		delete from
		cm_table_constraints
		where `code` =
		#{code,jdbcType=VARCHAR}
	</delete>
	<insert id="insertSelective" parameterType="org.module.model.kernel.db.CmTableConstraints">
		insert into cm_table_constraints
		<trim prefix="(" suffix=")" suffixOverrides=",">
			uid,
			`code`,
			`name`,
			type_code,
			type_name,
			en_name,
			table_code,
			<if test="comment != null">
				comment,
			</if>
			create_user,
			create_time,
			update_user,
			update_time,
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			#{uid,jdbcType=VARCHAR},
			#{code,jdbcType=VARCHAR},
			#{name,jdbcType=VARCHAR},
			#{typeCode,jdbcType=VARCHAR},
			#{typeName,jdbcType=VARCHAR},
			#{enName,jdbcType=VARCHAR},
			#{tableCode,jdbcType=VARCHAR},
			<if test="comment != null">
				#{comment,jdbcType=VARCHAR},
			</if>
			#{createUser,jdbcType=VARCHAR},
			#{createTime,jdbcType=VARCHAR},
			#{updateUser,jdbcType=VARCHAR},
			#{updateTime,jdbcType=VARCHAR},
		</trim>
	</insert>
	<update id="updateByCode" parameterType="org.module.model.kernel.db.CmTableConstraints">
		update cm_table_constraints
		<set>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="typeCode != null">
				type_code = #{typeCode,jdbcType=VARCHAR},
			</if>
			<if test="typeName != null">
				type_name = #{typeName,jdbcType=VARCHAR},
			</if>
			<if test="enName != null">
				en_name = #{enName,jdbcType=VARCHAR},
			</if>
			<if test="tableCode != null">
				table_code = #{tableCode,jdbcType=VARCHAR},
			</if>
			<if test="comment != null">
				comment = #{comment,jdbcType=VARCHAR},
			</if>
			update_user = #{updateUser,jdbcType=VARCHAR},
			update_time =
			#{updateTime,jdbcType=VARCHAR},
		</set>
		where `code` = #{code,jdbcType=VARCHAR}
	</update>
</mapper>