<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.module.mapper.logger.event.LmEventStatusMapper">
	<resultMap id="BaseResultMap" type="org.module.model.logger.event.LmEventStatus">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="uid" property="uid" jdbcType="VARCHAR" />
		<result column="event_code" property="eventCode" jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="VARCHAR" />
		<result column="create_user" property="createUser" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Base_Column_List">
		id, uid, event_code, status, create_user,
		DATE_FORMAT(create_time,'%Y-%m-%d
		%H:%i:%s') as create_time
	</sql>
	<select id="selectByCode" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from lm_event_status
		where event_code = #{eventCode,jdbcType=VARCHAR}
	</select>
	<insert id="insertSelective" parameterType="org.module.model.logger.event.LmEventStatus">
		insert into lm_event_status
		<trim prefix="(" suffix=")" suffixOverrides=",">
			uid,
			event_code,
			`status`,
			create_user,
			create_time,
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			#{uid,jdbcType=VARCHAR},
			#{eventCode,jdbcType=VARCHAR},
			#{status,jdbcType=VARCHAR},
			#{createUser,jdbcType=VARCHAR},
			STR_TO_DATE(#{createTime,jdbcType=VARCHAR},'%Y-%m-%d
			%H:%i:%s'),
		</trim>
	</insert>
</mapper>