<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.module.mapper.commons.db.CmDatabaseMapper">
	<resultMap id="BaseResultMap" type="org.module.model.commons.db.CmDatabase">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="uid" property="uid" jdbcType="VARCHAR" />
		<result column="code" property="code" jdbcType="VARCHAR" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="en_name" property="enName" jdbcType="VARCHAR" />
		<result column="url" property="url" jdbcType="VARCHAR" />
		<result column="USErname" property="username" jdbcType="VARCHAR" />
		<result column="password" property="password" jdbcType="VARCHAR" />
		<result column="initial_size" property="initialSize" jdbcType="INTEGER" />
		<result column="max_active" property="maxActive" jdbcType="INTEGER" />
		<result column="min_idle" property="minIdle" jdbcType="INTEGER" />
		<result column="max_wait" property="maxWait" jdbcType="INTEGER" />
		<result column="test_on_borrow" property="testOnBorrow"
			jdbcType="INTEGER" />
		<result column="test_on_return" property="testOnReturn"
			jdbcType="INTEGER" />
		<result column="test_while_idle" property="testWhileIdle"
			jdbcType="INTEGER" />
		<result column="time_between_eviction_runs_millis" property="timeBetweenEvictionRunsMillis"
			jdbcType="INTEGER" />
		<result column="min_evictable_idle_time_millis" property="minEvictableIdleTimeMillis"
			jdbcType="INTEGER" />
		<result column="remove_abandoned" property="removeAbandoned"
			jdbcType="INTEGER" />
		<result column="remove_abandoned_timeout" property="removeAbandonedTimeout"
			jdbcType="INTEGER" />
		<result column="log_abandoned" property="logAbandoned"
			jdbcType="INTEGER" />
		<result column="filters" property="filters" jdbcType="VARCHAR" />
		<result column="comment" property="comment" jdbcType="VARCHAR" />
		<result column="create_user" property="createUser" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="VARCHAR" />
		<result column="update_user" property="updateUser" jdbcType="VARCHAR" />
		<result column="update_time" property="updateTime" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, uid, code, name, en_name, url, USErname, password,
		initial_size,
		max_active,
		min_idle, max_wait, test_on_borrow,
		test_on_return,
		test_while_idle,
		time_between_eviction_runs_millis,
		min_evictable_idle_time_millis, remove_abandoned,
		remove_abandoned_timeout, log_abandoned,
		filters, comment, create_user,
		create_time, update_user, update_time
	</sql>
	<select id="selectByCode" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from cm_database
		where `code` = #{code,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByCode" parameterType="java.lang.String">
		delete from cm_database
		where `code` = #{code,jdbcType=VARCHAR}
	</delete>
	<insert id="insertSelective" parameterType="org.module.model.commons.db.CmDatabase">
		insert into cm_database
		<trim prefix="(" suffix=")" suffixOverrides=",">
			uid,
			`code`,
			`name`,
			en_name,
			`url`,
			username,
			password,
			<if test="initialSize != null">
				initial_size,
			</if>
			<if test="maxActive != null">
				max_active,
			</if>
			<if test="minIdle != null">
				min_idle,
			</if>
			<if test="maxWait != null">
				max_wait,
			</if>
			<if test="testOnBorrow != null">
				test_on_borrow,
			</if>
			<if test="testOnReturn != null">
				test_on_return,
			</if>
			<if test="testWhileIdle != null">
				test_while_idle,
			</if>
			<if test="timeBetweenEvictionRunsMillis != null">
				time_between_eviction_runs_millis,
			</if>
			<if test="minEvictableIdleTimeMillis != null">
				min_evictable_idle_time_millis,
			</if>
			<if test="removeAbandoned != null">
				remove_abandoned,
			</if>
			<if test="removeAbandonedTimeout != null">
				remove_abandoned_timeout,
			</if>
			<if test="logAbandoned != null">
				log_abandoned,
			</if>
			<if test="filters != null">
				filters,
			</if>
			<if test="comment != null">
				comment,
			</if>
			create_user,
			create_time,
			update_user,
			update_time,
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			#{uid,jdbcType=VARCHAR},
			#{code,jdbcType=VARCHAR},
			#{name,jdbcType=VARCHAR},
			#{enName,jdbcType=VARCHAR},
			#{url,jdbcType=VARCHAR},
			#{username,jdbcType=VARCHAR},
			#{password,jdbcType=VARCHAR},
			<if test="initialSize != null">
				#{initialSize,jdbcType=INTEGER},
			</if>
			<if test="maxActive != null">
				#{maxActive,jdbcType=INTEGER},
			</if>
			<if test="minIdle != null">
				#{minIdle,jdbcType=INTEGER},
			</if>
			<if test="maxWait != null">
				#{maxWait,jdbcType=INTEGER},
			</if>
			<if test="testOnBorrow != null">
				#{testOnBorrow,jdbcType=INTEGER},
			</if>
			<if test="testOnReturn != null">
				#{testOnReturn,jdbcType=INTEGER},
			</if>
			<if test="testWhileIdle != null">
				#{testWhileIdle,jdbcType=INTEGER},
			</if>
			<if test="timeBetweenEvictionRunsMillis != null">
				#{timeBetweenEvictionRunsMillis,jdbcType=INTEGER},
			</if>
			<if test="minEvictableIdleTimeMillis != null">
				#{minEvictableIdleTimeMillis,jdbcType=INTEGER},
			</if>
			<if test="removeAbandoned != null">
				#{removeAbandoned,jdbcType=INTEGER},
			</if>
			<if test="removeAbandonedTimeout != null">
				#{removeAbandonedTimeout,jdbcType=INTEGER},
			</if>
			<if test="logAbandoned != null">
				#{logAbandoned,jdbcType=INTEGER},
			</if>
			<if test="filters != null">
				#{filters,jdbcType=VARCHAR},
			</if>
			<if test="comment != null">
				#{comment,jdbcType=VARCHAR},
			</if>
			#{createUser,jdbcType=VARCHAR},
			#{createTime,jdbcType=VARCHAR},
			#{updateUser,jdbcType=VARCHAR},
			#{updateTime,jdbcType=VARCHAR},
		</trim>
	</insert>
	<update id="updateByCode" parameterType="org.module.model.commons.db.CmDatabase">
		update cm_database
		<set>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="enName != null">
				en_name = #{enName,jdbcType=VARCHAR},
			</if>
			<if test="url != null">
				url = #{url,jdbcType=VARCHAR},
			</if>
			<if test="username != null">
				USErname = #{username,jdbcType=VARCHAR},
			</if>
			<if test="password != null">
				password = #{password,jdbcType=VARCHAR},
			</if>
			<if test="initialSize != null">
				initial_size = #{initialSize,jdbcType=INTEGER},
			</if>
			<if test="maxActive != null">
				max_active = #{maxActive,jdbcType=INTEGER},
			</if>
			<if test="minIdle != null">
				min_idle = #{minIdle,jdbcType=INTEGER},
			</if>
			<if test="maxWait != null">
				max_wait = #{maxWait,jdbcType=INTEGER},
			</if>
			<if test="testOnBorrow != null">
				test_on_borrow = #{testOnBorrow,jdbcType=INTEGER},
			</if>
			<if test="testOnReturn != null">
				test_on_return = #{testOnReturn,jdbcType=INTEGER},
			</if>
			<if test="testWhileIdle != null">
				test_while_idle = #{testWhileIdle,jdbcType=INTEGER},
			</if>
			<if test="timeBetweenEvictionRunsMillis != null">
				time_between_eviction_runs_millis =
				#{timeBetweenEvictionRunsMillis,jdbcType=INTEGER},
			</if>
			<if test="minEvictableIdleTimeMillis != null">
				min_evictable_idle_time_millis =
				#{minEvictableIdleTimeMillis,jdbcType=INTEGER},
			</if>
			<if test="removeAbandoned != null">
				remove_abandoned = #{removeAbandoned,jdbcType=INTEGER},
			</if>
			<if test="removeAbandonedTimeout != null">
				remove_abandoned_timeout =
				#{removeAbandonedTimeout,jdbcType=INTEGER},
			</if>
			<if test="logAbandoned != null">
				log_abandoned = #{logAbandoned,jdbcType=INTEGER},
			</if>
			<if test="filters != null">
				filters = #{filters,jdbcType=VARCHAR},
			</if>
			<if test="comment != null">
				comment = #{comment,jdbcType=VARCHAR},
			</if>
			update_user = #{updateUser,jdbcType=VARCHAR},
			update_time =
			#{updateTime,jdbcType=VARCHAR},
		</set>
		where `code` = #{code,jdbcType=VARCHAR}
	</update>
</mapper>