<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.module.mapper.product.PmSkuInfoMapper">
	<resultMap id="BaseResultMap" type="org.module.model.product.PmSkuInfo">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="uid" property="uid" jdbcType="VARCHAR" />
		<result column="code" property="code" jdbcType="VARCHAR" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="product_code" property="productCode" jdbcType="VARCHAR" />
		<result column="cost_price" property="costPrice" jdbcType="DECIMAL" />
		<result column="market_price" property="marketPrice" jdbcType="DECIMAL" />
		<result column="sell_price" property="sellPrice" jdbcType="DECIMAL" />
		<result column="stock_num" property="stockNum" jdbcType="INTEGER" />
		<result column="security_stock_num" property="securityStockNum"
			jdbcType="INTEGER" />
		<result column="sku_pic_url" property="skuPicUrl" jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="VARCHAR" />
		<result column="mini_order" property="miniOrder" jdbcType="INTEGER" />
		<result column="create_user" property="createUser" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="VARCHAR" />
		<result column="update_user" property="updateUser" jdbcType="VARCHAR" />
		<result column="update_time" property="updateTime" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, uid, `code`, `name`, product_code, cost_price,
		market_price, sell_price,
		stock_num,
		security_stock_num, sku_pic_url,
		`status`, mini_order, create_user,
		DATE_FORMAT(create_time,'%Y-%m-%d
		%H:%i:%s') as
		create_time,
		update_user,
		DATE_FORMAT(update_time,'%Y-%m-%d %H:%i:%s')
		as
		update_time
	</sql>
	<select id="selectByCode" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from productmodule.pm_sku_info
		where `code` = #{code,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByCode" parameterType="java.lang.String">
		delete from
		productmodule.pm_sku_info
		where `code` = #{code,jdbcType=VARCHAR}
	</delete>
	<insert id="insertSelective" parameterType="org.module.model.product.PmSkuInfo">
		insert into productmodule.pm_sku_info
		<trim prefix="(" suffix=")" suffixOverrides=",">
			uid,
			code,
			name,
			product_code,
			<if test="costPrice != null">
				cost_price,
			</if>
			<if test="marketPrice != null">
				market_price,
			</if>
			<if test="sellPrice != null">
				sell_price,
			</if>
			<if test="stockNum != null">
				stock_num,
			</if>
			<if test="securityStockNum != null">
				security_stock_num,
			</if>
			sku_pic_url,
			status,
			<if test="miniOrder != null">
				mini_order,
			</if>
			create_user,
			create_time,
			update_user,
			update_time,
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			#{uid,jdbcType=VARCHAR},
			#{code,jdbcType=VARCHAR},
			#{name,jdbcType=VARCHAR},
			#{productCode,jdbcType=VARCHAR},
			<if test="costPrice != null">
				#{costPrice,jdbcType=DECIMAL},
			</if>
			<if test="marketPrice != null">
				#{marketPrice,jdbcType=DECIMAL},
			</if>
			<if test="sellPrice != null">
				#{sellPrice,jdbcType=DECIMAL},
			</if>
			<if test="stockNum != null">
				#{stockNum,jdbcType=INTEGER},
			</if>
			<if test="securityStockNum != null">
				#{securityStockNum,jdbcType=INTEGER},
			</if>
			#{skuPicUrl,jdbcType=VARCHAR},
			#{status,jdbcType=VARCHAR},
			<if test="miniOrder != null">
				#{miniOrder,jdbcType=INTEGER},
			</if>
			#{createUser,jdbcType=VARCHAR},
			STR_TO_DATE(#{createTime,jdbcType=VARCHAR},'%Y-%m-%d
			%H:%i:%s'),
			#{updateUser,jdbcType=VARCHAR},
			STR_TO_DATE(#{updateTime,jdbcType=VARCHAR},'%Y-%m-%d
			%H:%i:%s'),
		</trim>
	</insert>
	<update id="updateByCode" parameterType="org.module.model.product.PmSkuInfo">
		update productmodule.pm_sku_info
		<set>
			<if test="name != null and name !=''">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="costPrice != null">
				cost_price = #{costPrice,jdbcType=DECIMAL},
			</if>
			<if test="marketPrice != null">
				market_price = #{marketPrice,jdbcType=DECIMAL},
			</if>
			<if test="sellPrice != null">
				sell_price = #{sellPrice,jdbcType=DECIMAL},
			</if>
			<if test="stockNum != null">
				stock_num = #{stockNum,jdbcType=INTEGER},
			</if>
			<if test="securityStockNum != null">
				security_stock_num =
				#{securityStockNum,jdbcType=INTEGER},
			</if>
			<if test="skuPicUrl != null and skuPicUrl !=''">
				sku_pic_url = #{skuPicUrl,jdbcType=VARCHAR},
			</if>
			<if test="status != null and status !=''">
				status = #{status,jdbcType=VARCHAR},
			</if>
			<if test="miniOrder != null">
				mini_order = #{miniOrder,jdbcType=INTEGER},
			</if>
			update_user = #{updateUser,jdbcType=VARCHAR},
			update_time =
			STR_TO_DATE(#{updateTime,jdbcType=VARCHAR},'%Y-%m-%d %H:%i:%s'),
		</set>
		where `code` = #{code,jdbcType=VARCHAR}
	</update>
</mapper>