<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.module.mapper.system.page.SmPageAuthorityMapper">
	<resultMap id="BaseResultMap" type="org.module.model.system.page.SmPageAuthority">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="uid" property="uid" jdbcType="VARCHAR" />
		<result column="code" property="code" jdbcType="VARCHAR" />
		<result column="page_code" property="pageCode" jdbcType="VARCHAR" />
		<result column="authority" property="authority" jdbcType="LONGVARCHAR" />
		<result column="create_user" property="createUser" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="VARCHAR" />
		<result column="update_user" property="updateUser" jdbcType="VARCHAR" />
		<result column="update_time" property="updateTime" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, uid, code, page_code,authority, create_user,
		create_time, update_user,
		update_time
	</sql>
	<select id="selectByCode" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from sm_page_authority
		where `code` = #{code,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByCode" parameterType="java.lang.String">
		delete from
		sm_page_authority
		where `code` = #{code,jdbcType=VARCHAR}
	</delete>
	<insert id="insertSelective" parameterType="org.module.model.system.page.SmPageAuthority">
		insert into sm_page_authority
		<trim prefix="(" suffix=")" suffixOverrides=",">
			uid,
			`code`,
			page_code,
			create_user,
			create_time,
			update_user,
			update_time,
			<if test="authority != null">
				authority,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			#{uid,jdbcType=VARCHAR},
			#{code,jdbcType=VARCHAR},
			#{pageCode,jdbcType=VARCHAR},
			#{createUser,jdbcType=VARCHAR},
			#{createTime,jdbcType=VARCHAR},
			#{updateUser,jdbcType=VARCHAR},
			#{updateTime,jdbcType=VARCHAR},
			<if test="authority != null">
				#{authority,jdbcType=LONGVARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByCode" parameterType="org.module.model.system.page.SmPageAuthority">
		update sm_page_authority
		<set>
			<if test="authority != null">
				authority = #{authority,jdbcType=LONGVARCHAR},
			</if>
			update_user = #{updateUser,jdbcType=VARCHAR},
			update_time =
			#{updateTime,jdbcType=VARCHAR},
		</set>
		where `code` = #{code,jdbcType=VARCHAR}
	</update>
</mapper>